[Unit]
Description=webapp
After=network.target

[Service]
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/npx ts-node /opt/webapp/src/index.ts
Restart=always
User=csye6225
Group=csye6225
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/opt/webapp
EnvironmentFile=/opt/webapp/.env

[Install]
WantedBy=multi-user.target